.chart{
	position:relative;
	text-align:center;
	padding-right:50px;
}

#title{
	padding-top:30px;
	text-align: center;
	color:#111188;
}

div.legend 
{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

div.legend table 
{
    margin: 0 auto; 
    text-align: left;
}

table{
    border-collapse: collapse;
    font-size:18px;
}
td{    
    padding:5px;
    border:5px solid black;
}
.colorAladnani{
    background-color:#FF0000;
    width:50px;
}
.colorAlkhorasani{
    background-color:#00FF00;
    width:50px;
}
.colorAlnusra{
    background-color:#0000FF;
    width:50px;
}
.colorAlbaghdadi{
    background-color:#FFFF00;
    width:50px;
}
.colorMusacerantonio{
    background-color:#00FFFF;
    width:50px;
}
.colorMaqdisi{
    background-color:#FFFFFF;
    width:50px;
}
